<% if user_signed_in? %>
<%= current_user.email %>
<%= link_to "サインアウト", destroy_user_session_path, method: "delete" %>
<% else %>
<%= link_to "サインイン", new_user_session_path %>
<%= link_to "ユーザ登録", new_user_registration_path %>
<% end %>
<h1>ホームページ</h1>

